<!DOCTYPE html>
<html>
<head>
  <title>FarmaTop</title>
</head>
<body>
  <h1>Lista de Remédios</h1>
  <ul>
    <% remedios.forEach(remedio => { %>
      <ul><%= remedio.nome %></ul>
      <li><%= remedio.descricao %></li>
    <% }); %>
  </ul>
  <a href="/formulario">Cadastrar Novo Remédio</a>
</body>
</html>
